@import "theme/mixins";
@import "theme/variables";
@import "theme/themes";

:root {
  @include spread-map($day-theme);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  background-color: var(--background-color);
  background-image: var(--background-img);
  background-size: cover;
}